canvas {
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1;
}

body {
     font-size: 22px;
     color: 
     #88279c;
}

#content {
     float: right;
     width: 60%;
     font-family: 'Courier New', Courier, monospace, monospace;
     font-weight: bold;
}

.box {
     background-color: rgba(145, 115, 189, 0.2);
     border-radius: 8px;
     border: solid 2px;
}

h1 {
     color: #711191;
     font-family: FreeMono, monospace;
}

@media screen and (max-width: 600px) {
     #content {
          float: none;
          width: 100%
     }
}
