canvas {
     position: fixed;
     top: 0;
     left: 0;
     z-index: -1;
}

body {
     font-size: 21px;
     color: #63279c;
}

#content {
     float: right;
     width: 60%;
     font-family: 'Courier New', Courier, monospace, monospace;
     font-weight: bold;
}

.box {
     background-color: rgba(145, 115, 189, 0.2);
     border-radius: 15px;
     border: solid 3px #4b007d;
     box-shadow: 10px 10px 5px rgb(36, 23, 65, 50%);
}

h1 {
     color: #4b007d;
     font-family: FreeMono, monospace;
     text-shadow: 2px 2px 8px rgb(94, 66, 126)
}

h2 {
     color: #6a1aa1;
}

@media screen and (max-width: 600px) {
     #content {
          float: none;
          width: 100%
     }
}
