body {
    font-family: "Arial", sans-serif;
    background-color: rgb(231, 231, 231);
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, auto); /* This is how the board is displayed in its original 3x3 setting. To make the grid larger, this would need to be changed */
    border: 2px solid rgb(65, 65, 65);
    width: 306px; /* Width and height also need to be changed when making the grid larger */
    height: 306px;
    margin: 45px auto;
    border-radius: 10px;
    border-style: none;
}

.cell {
    font-family: "Arial", cursive;
    font-size: 25px;
    color: rgb(73, 73, 73);
    width: 100px;
    height: 100px;
    line-height: 100px;
    box-shadow: 0 0 0 1px #000000;
    cursor: pointer;
    background-color: rgb(218, 218, 218);
    border-top-style: none;
    border-right-style: 1px solid;
    border-bottom-style: none;
    border-left-style: 1px solid;
    text-align: center;
}

.game-title {
    color: rgb(61, 65, 71);
    font-size: 35px;
    text-align: center;
}

.game-subTitle {
    color: rgb(61, 65, 71);
    font-size: 20px;
    margin: auto;
    text-align: center
}

.end-game {
    color: rgb(61, 65, 71);
    font-size: 20px;
    margin: auto;
    text-align: center
}

.game-restart {
    display: block;
    font-size: 13px;
    font-family: 'verdana', cursive;
    font-weight: 550;
    color: rgb(59, 59, 59);
    background-color: rgb(199, 199, 199);
    padding: 14px;
    margin: auto;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 8px;
    cursor: pointer;
}

.game-singlePlayer {
    display: block;
    font-size: 13px;
    font-family: 'verdana', cursive;
    font-weight: 550;
    color: rgb(59, 59, 59);
    background-color: rgb(199, 199, 199);
    padding: 14px;
    margin: 15px auto;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 8px;
    cursor: pointer;
}

.smaller-game {
    display: block;
    font-size: 13px;
    font-family: 'verdana', cursive;
    font-weight: 550;
    color: rgb(59, 59, 59);
    background-color: rgb(199, 199, 199);
    padding: 14px;
    margin: 15px auto;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 8px;
    cursor: pointer;
}

.bigger-game {
    display: block;
    font-size: 13px;
    font-family: 'verdana', cursive;
    font-weight: 550;
    color: rgb(59, 59, 59);
    background-color: rgb(199, 199, 199);
    padding: 14px;
    margin: 15px auto;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 8px;
    cursor: pointer;
}

.ai {
    display: block;
    font-size: 13px;
    font-family: 'verdana', cursive;
    font-weight: 550;
    color: rgb(59, 59, 59);
    background-color: rgb(199, 199, 199);
    padding: 14px;
    margin: 15px auto;
    border: 3px solid rgb(70, 70, 70);
    border-radius: 8px;
    cursor: pointer;
}


.end-game {
    color: rgb(70, 70, 70);
    margin:  25px auto;
    text-align: center;
    font-family: 'verdana', cursive;
}